.root {
    padding: 10px 20px;
    border: none;
    transition: opacity 0.2s;
}

.root:hover {
    cursor: pointer;
    opacity: 0.7;
}

.rootActive {
    background-color: lightgray;
}

.rootActive:hover {
    cursor: default;
    opacity: 1;
}
